<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuacy.mybatis.interceptor.mapper.SlowSqlRecordMapper">
    <insert id="insertSqlRecord">
        insert into slow_sql_record (
            id,
            sentence,
            createtime,
            excutortime,
            excutormethod
        ) values (
            uuid_short(),
             #{param.sentence},
             #{param.createtime},
             #{param.excutortime},
             #{param.executormethod} 
         )
   </insert>
</mapper>
